<p>Please select market : <%= select_tag 'choose_market', options_for_select(market_list,
  selected: [@market.name, market.id]), class: "form-control width-15" %></p>
<%= render partial: 'shared/spinner' %>
<hr>
<div class="form-group">
  <h5 class='inline-head'>Bid Price</h5> : <%= client_orderbook_price(@client_orderbook, 'bids') %>
</div>
<div class="form-group">
  <h5 class='inline-head'>Ask Price</h5> : <%= client_orderbook_price(@client_orderbook, 'asks') %>
</div>
<hr>
<div class="form-group">
  <h5 class='inline-head'>Trade Price</h5> : <%= client_trades["price"] %>
</div>
<hr>
<div class="form-group">
  <h3 class='inline-head'>Pending Trading :</h3>
  <div class="render-table">
    <div class="text-center"><h5>Buy Tradings</h5></div>
    <%= render partial: 'trading_table', locals: {tradings: buy_tradings, type: 'Buy'} %>
  </div>
  <div class="render-table">
    <div class="text-center"><h5>Sell Tradings</h5></div>
    <%= render partial: 'trading_table', locals: {tradings: sell_tradings, type: 'Sell'} %>
  </div>
</div>
<hr>

<h3 class='inline-head'>My Order :</h3>
<div class="render-table margin-top-15">
  <%= render partial: 'placed_trade', locals: {orders: my_order} %>
</div>

<script type="text/javascript">
  jQuery(function($) {
    $("#choose_market").change(function() {
      var market = $('select#choose_market :selected').val();
      $.ajax('/trade_list', {
        type: 'GET',
        data: { market_id: market },
        dataType: "script"
      });
      return false;
    });
  })
</script>
