<table class="table table-striped">
  <tr class="thead-light">
    <th>Market</th>
    <th>Date</th>
    <th>Order Type</th>
    <th>Size</th>
  </tr>
  <% orders.each do |order| %>
    <tr>
      <td><%= order['market'] %></td>
      <td><%= order['created_at'].to_datetime.strftime("%d %b %Y, %H:%M") %></td>
      <td><%= order['order_type'] %></td>
      <td><%= order['size'] %></td>
    </tr>
  <% end %>
</table>
<%= will_paginate orders %>