<div class="head-action">
  <span class="head-text">Create Trade</span>
  <%= link_to "Trading Bot", trade_list_path, class: 'btn btn-primary float-right btn-margin' %>
</div>
<div class="center-position">
  <%= form_with scope: :trading, url: tradings_path, local: true do |f| %>
    <%= render partial: 'trading_errors', locals: { trading: @trading } %>
    <div class="form-group">
      <label>Choose Type :</label>
      <%= f.radio_button :order_type, 'sell', checked: true %> Sell
      <%= f.radio_button :order_type, 'buy' %> Buy
    </div>
    <div class="form-group">
      <label>Choose Market :</label>
      <%= f.select :market_id, options_for_select(market_list), {}, class: "form-control" %>
    </div>
    <div class="form-group">
      <label>Number of Order :</label>
      <%= f.number_field :order_count, step: 1, input_html: { required: true }, class: "form-control" %>
      <p class="help-block">How much share you want to buy/sell (like: 1, 2 etc.)</p>
    </div>
    <div class="form-group">
      <label>Change in Price :</label>
      <%= f.number_field :price_variation, step: 0.001, input_html: { required: true }, class: "form-control" %>
      <p class="help-block">How much variation in % for place buy/sell order (like: 0.001, 0.002 etc.)</p>
    </div>
    <div class="form-group">
      <label>Order Size :</label>
      <%= f.number_field :market1_amount, step: 0.00001, input_html: { required: true }, class: "form-control" %>
      <p class="help-block">How much size of order you want to place (like: 0.00001, 0.00002 etc.)</p>
    </div>
    <%= f.submit 'Create Trade', class: "btn btn-default" %>
  <% end %>
</div>
