<h1>Trading Bot</h1>
<div class="center-position">
  <%= form_with scope: :trading, url: tradings_path, local: true do |f| %>
    <%= render partial: 'trading_errors', locals: { trading: @trading } %>  
    <div class="form-group">
      <%= f.radio_button :order_type, 'sell', checked: true %> Sell
      <%= f.radio_button :order_type, 'buy' %> Buy
    </div>
    <div class="form-group">
      <label>Choose Market :</label>
      <%= f.select :market_id, options_for_select(market_list) %>
    </div>
    <div class="form-group">
      <label>Number of Order :</label>
      <%= f.number_field :order_count, step: 1, input_html: { required: true } %>
    </div>
    <div class="form-group">
      <label>Change in Price :</label>
      <%= f.number_field :price_variation, step: 0.00001, input_html: { required: true } %>
    </div>
    <div class="form-group">
      <label>Order Size :</label>
      <%= f.number_field :market1_amount, step: 0.00001, input_html: { required: true } %>
    </div>
    <%= f.submit %>
  <% end %>
</div>