<div class="head-action">
  <span class="head-text">Showing Trade</span>
  <%= link_to "Trading Bot", trade_list_path, class: 'btn btn-primary float-right btn-margin' %>
  <%= link_to "Create Trading", new_trading_path, class: 'btn btn-success float-right btn-margin margin-right-15' %>
</div>
<div class="center-position form-group">
  <div class="row">
    <div class="col-lg-5">Order Type</div>
    <div class="col-lg-1">:</div>
    <div class="col-lg-6"><%= @trading.order_type %></div>
  </div>
  <div class="row">
    <div class="col-lg-5">Market</div>
    <div class="col-lg-1">:</div>
    <div class="col-lg-6"><%= @trading.market.name %></div>
  </div>
  <div class="row">
    <div class="col-lg-5">Price Variation</div>
    <div class="col-lg-1">:</div>
    <div class="col-lg-6"><%= @trading.price_variation %>%</div>
  </div>
  <div class="row">
    <div class="col-lg-5">Order Type</div>
    <div class="col-lg-1">:</div>
    <div class="col-lg-6"><%= @trading.market1_amount %></div>
  </div>
</div>