<h3>show</h3>
<strong>Order Book</strong> : <%= @client_orderbook %>
<strong>Trade</strong> : <%= @client_trades['data'][0] %>
<p>
  <strong>market:</strong>
  <%= @trading.market %>
</p>
<p>
  <strong>buy_order:</strong>
  <%= @trading.buy_order %>
</p>
<p>
  <strong>sell_order:</strong>
  <%= @trading.sell_order %>
</p>
<p>
  <strong>sell_price_variation:</strong>
  <%= @trading.sell_price_variation %> %
</p>
<p>
  <strong>buy_price_variation:</strong>
  <%= @trading.buy_price_variation %> %
</p>
<p>
  <strong>market1_amount:</strong>
  <%= @trading.market1_amount %>
</p>
<p>
  <strong>market2_amount:</strong>
  <%= @trading.market2_amount %>
</p>
