<h3>show</h3>
<p>
  <strong>Order Type:</strong>
  <%= @trading.order_type %>
</p>
<p>
  <strong>Market:</strong>
  <%= @trading.market.name %>
</p>
<p>
  <strong>number of order:</strong>
  <%= @trading.order_count %>
</p>
<p>
  <strong>Price Variation:</strong>
  <%= @trading.price_variation %> %
</p>
<p>
  <strong>market1_amount:</strong>
  <%= @trading.market1_amount %>
</p>
<p>
  <strong>market2_amount:</strong>
  <%= @trading.market2_amount %>
</p>

<%= link_to 'Trade List', trade_list_path %>